### Print Helloworld

In [1]:
print("Hello")
print("Hello")
10

Hello
Hello

10

### Variables

In [2]:
a = 10
b = 20

sum = a + b
abc = 10
print('sum')
print(abc)

sum
10

In [3]:
abc1 = 10

### Variable Naming

You can't start with digits

In [4]:
ab_c1 = 10
_ss = 2
# 12cd = 20

### Assigning different type of data to a variable

In [5]:
a = 10
a = 20
a = "hthths"
a

'hthths'

In [6]:
a = "abc"
print(type(a))
a = 10
print(type(a))

<class 'str'>
<class 'int'>

### Python Numbers

In [7]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

4313049728
4313049760

11

Only applicable to numbers within the range -5...256

In [9]:
a = 1000
b = 1000
print(id(a))
print(id(b))

140552003899568
140552003900144

Python's limit of integers is dependent on the memory allocated to the program.

### Arithmatic Operators

In [10]:
a = 10
b = 4
print(a - b)
print(a + b)

6
14

In [11]:
a * b

40

In [12]:
a / b # floating point division

2.5

In [13]:
a// b # integer division

2

In [14]:
a**b # exponentiation

10000

In [15]:
a % b

2

In [16]:
2 + 3 * 4 # 14 or 20

14

In [17]:
2 * 3 / 4 # doesn't matter what operation is done first

1.5

In [18]:
(2 * 3) // 4

1

In [19]:
# simple interest to lowest integer
p = 100
r = 12
t = 2
# si = p * r * t // 100
# si = t//100 * r * p
si = (p * r * t)//100
si

24

In [20]:
# fah to celcius conversion
f = 100
c = (f - 32) * 5 / 9
print(c)
ci = (f - 32) * 5 // 9
print(ci)

37.77777777777778
37

### Input

In [21]:
a = float(input())
type(a)

# b = '34'
# c = int(b)
# c

34

float

In [22]:
s = "4.5"
float(s)

4.5

In [23]:
# adding two numbers
a = int(input())
b = int(input())
print(type(a))
s = a + b
print(s)

23
34
<class 'int'>
57